<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="container">
<nav>
  <ul>
      <!--<li><a href="/download">Show Code</a>-->
      <!--<li><a href="/data">Upload Data</a>-->
      <!--<li><a href="/actions">Next Actions</a>-->
      <li><a href="/login">Log in with Google</a>
  </ul>
</nav>
<section class="content">
  <header>
    <h1>ML Code Generator</h1>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</div>
