<!doctype html>
{% extends 'base.html' %}

{% block content %}

<div>
   <h2> Describe your output value</h2>
   <p>
      Pick your the value you want to predict
   </p>
   <form action="/select_y" method="post">
      <div>
         <select name=label>
             {% for label in labels %}
                <option value= "{{label}}" SELECTED>{{label}}</option>"
             {% endfor %}
         </select>
      </div>

      <input class="action" type="submit" value="Submit Selection" />
</div>
{% endblock %}
