<!doctype html>
{% extends 'base.html' %}

{% block content %}

<div class="card">
   <h2> Select your input values</h2>
   <p>
      Pick your the values you want to <b>exclude</b> from this model.
   </p>
   <form action="/input_labels" method="post">
      <div>
          {% for label in labels %}
             <input type="checkbox" name="drop_labels" value= "{{label}}" SELECTED>{{label}}</option>"
          {% endfor %}
      </div>

      <input class="action" type="submit" value="Submit Selection" />
</div>
{% endblock %}
